<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,300italic,700|Source+Sans+Pro:400,400italic" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="/assets/dist/css/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78209422-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78209422-2');
</script>


</head>

  <body>
      <div id="page" class="hfeed site">
  <header id="masthead" role="banner">
    <nav id="site-navigation" class="main-navigation navbar-fixed-top navbar-left" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container" id="navigation_menu">
        <div class="navbar-header">
          <button type="button" class="menu-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wanderland Travelers</a>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="menu-primary-menu" class="primary-menu nav-menu" aria-expanded="false">
            
            <li class="menu-item  menu-item-home">
              <a href="/">Home</a>
            </li>
            
            <li class="menu-item  menu-item-say-thanks">
              <a href="https://ko-fi.com/wanderlandtravelers">Say Thanks</a>
            </li>
            
            <li class="menu-item  menu-item-about-us">
              <a href="/about/">About Us</a>
            </li>
            
          </ul>
        </div>
      </div>
      <!--#container-->
    </nav>
    <div id="cc_spacer"></div><!-- used to clear fixed navigation by the themes js -->
    
  </header>
</div>


  <div id="content" class="site-content">
    <div class="container">
      <div class="row">
        <div id="primary" class="col-md-9 content-area">
          <main id="main" class="site-main" role="main">
            <h1>Archive of posts from 2018</h1>


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/HavasuFendy.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Boondocking at Craggy Wash: Lake Havasu">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Boondocking at Craggy Wash: Lake Havasu</span>
    <h2 class="entry-title">
      <a href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/" rel="bookmark">
        Boondocking at Craggy Wash: Lake Havasu
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/">November 28, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>Our Thanksgiving plans had us on a northward trajectory and we weren’t quite sure where to head after the Phoenix area. Watson Lake in Prescott is on our list as a great kayaking destination so that was in the running but ultimately we decided we should go there in warmer weather. We had heard great things about Lake Havasu and the reviews for camping at Craggy Wash BLM were pretty positive so we decided to check it out for ourselves.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/SupCacti.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Scottsdale and the Superstitions">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Scottsdale and the Superstitions</span>
    <h2 class="entry-title">
      <a href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/" rel="bookmark">
        Scottsdale and the Superstitions
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/">November 26, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>Let me just say, Fall is an absolutely spectacular time to visit Arizona: the temperatures are ideal, crowds have thinned at popular swimming spots, and the occasional rain creates more green spaces and flowering plants – we saw grass growing in the desert!  After our amazing week at <a href="https://wanderlandtravelers.com/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/">Indian Bread Rocks</a> we continued northward and spent a week in Scottsdale so that Brad could put in some face-time at the office. His employer is based there and with our visit being in late October it was a super convenient place to have our absentee ballots sent so that we could vote in the Midterm elections.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/PaintedCouch.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Painting Our RV Couch with Chalk Paint">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Painting Our RV Couch with Chalk Paint</span>
    <h2 class="entry-title">
      <a href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/" rel="bookmark">
        Painting Our RV Couch with Chalk Paint
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/">November 25, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>When we were RV shopping, we looked inside many many RVs. There might have been others that looked a bit nicer but everything else about this one really fit our needs: it was in our price range, had low miles, had a solar panel and inverter all ready, and the previous owners had taken great care of it. I really disliked the look of the brown and tan striped furniture but we weren’t going to let that be a deal breaker. A few months after we’d purchased Fendy, I was looking into options for updating the couch and learned about chalk paint – I decided to give it a try! Long story short, it worked like a charm and even 2.5 years later the color is holding up great. It really dramatically changed the look of our living space and it’s still one of my favorite updates that we did on Fendy.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/BRFendy.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Boondocking at Indian Bread Rocks">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Boondocking at Indian Bread Rocks</span>
    <h2 class="entry-title">
      <a href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/" rel="bookmark">
        Boondocking at Indian Bread Rocks
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/">November 20, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>So we actually first learned of this spot from fellow RVers Drivin &amp; Vibin. It was probably a year ago that we watched a video of their favorite free campsites and Indian Bread Rocks was on there. I added it to our adventure list back then, not knowing when we’d fit it into our travels, but sure enough as we were leaving Albuqurque after the Balloon Fiesta this year, we saw that it was the perfect time to visit this area.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/EBRV.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Beach Camping in New Mexico">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Beach Camping in New Mexico</span>
    <h2 class="entry-title">
      <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/" rel="bookmark">
        Beach Camping in New Mexico
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/">November 10, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>People often ask us how we find these gems, these beautiful places. Well! We keep an adventure list, organized by state, and we’re always updating it as we learn of great spots. We get tips from fellow travelers, travel magazines, or sometimes we just see a green space on the map and read up on it. Pro tip: we also check out <a href="http://www.campendium.com">Campendium</a> and sort by the highest-rated free campsites in an area. Anyway, when we were leaving Albuquerque we realized we could incorporate a stay at the beautiful Elephant Butte Lake State Park and so our plan was set. If you look up photos of this place, you’ll see a popular destination with cars dotting the shoreline and boats filling the lake. Well, those must be from the height of summer because that’s about the opposite of what we found coming here in mid-October!</p>


    <p class="read-more">
      <a class="btn btn-default" href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/2018/11/08/albuquerque-and-the-balloon-fiesta/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/ABQ2.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Albuquerque and the Balloon Fiesta">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Albuquerque and the Balloon Fiesta</span>
    <h2 class="entry-title">
      <a href="/2018/11/08/albuquerque-and-the-balloon-fiesta/" rel="bookmark">
        Albuquerque and the Balloon Fiesta
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/2018/11/08/albuquerque-and-the-balloon-fiesta/">November  8, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/2018/11/08/albuquerque-and-the-balloon-fiesta/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>When we left Colorado, our original idea was to spend a week in Taos but with a chilly forcast showing overnight temps there dropping into the low 30s, we decided we should keep moving south. I found that Albuquerque was a good twenty degrees warmer all around and so we made that the destination. It wasn’t until Brad started looking into camping options that we realized the International Balloon Fiesta was currently going on!</p>


    <p class="read-more">
      <a class="btn btn-default" href="/2018/11/08/albuquerque-and-the-balloon-fiesta/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/GSD1.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Great Sand Dunes National Park">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Great Sand Dunes National Park</span>
    <h2 class="entry-title">
      <a href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/" rel="bookmark">
        Great Sand Dunes National Park
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/">October 26, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>After our time in Manitou Springs, we made the three hour drive south to check out Great Sand Dunes National Park. We had heard how impressive the giant dunes are and were excited to see it with our own eyes. Our last National Parks pass expired a couple months ago, so at the entrance station we purchased our third annual pass since living on the road. It’s still a STEAL at $80 for the whole year. Not only does it get you into every national park and monument, it has also covered our parking fee at different national forest hiking and recreation sites. Worth every penny, or as my dear friend Jessica would say: it’s cheap at twice the price!</p>


    <p class="read-more">
      <a class="btn btn-default" href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/COAspens.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Colorado Springs and Garden of the Gods">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Colorado Springs and Garden of the Gods</span>
    <h2 class="entry-title">
      <a href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/" rel="bookmark">
        Colorado Springs and Garden of the Gods
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/">October 20, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>It’s always so fun to figure out what path and direction we’re going to take when we have a far-off destination in mind. We pull out our road atlas (yes, a paper map!) and start looking at all the options, and it’s very exciting to envision ourselves on different adventures along these different routes. When it came time to leave Iowa, we knew we would be heading towards the Southwest for the winter but we didn’t know what we wanted to see on the way there. Realizing that we might be able to catch some of the golden Aspens in Colorado helped us make our decision.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->


  <article class="post-content">
  
    <div class="featured-image">
      <a href="/2018/10/18/welcome-to-our-blog/" rel="bookmark">
        <img
          width="1024"
          height="576"
          src="/images/MBlogging.jpg"
          class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
          alt="Welcome to our blog!">
      </a>
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">Welcome to our blog!</span>
    <h2 class="entry-title">
      <a href="/2018/10/18/welcome-to-our-blog/" rel="bookmark">
        Welcome to our blog!
      </a>
    </h2>

    <div class="entry-meta">
      <h5 class="entry-date">
        <i class="fa fa-calendar-o"></i>
        <a href="/2018/10/18/welcome-to-our-blog/">October 18, 2018</a>
        <span class="byline">
          <span class="sep"></span>
          <i class="fa fa-user"></i>
          <span class="author vcard">
            <a
              class="url fn n"
              href="/authors/maggie"
              title="View all posts by Maggie"
              rel="author">
              Maggie
            </a>
          </span>
        </span>
        <i class="fa fa-comments-o"></i>
        <span class="screen-reader-text">Comments </span>
        <a href="/2018/10/18/welcome-to-our-blog/#respond" class="comments-link">
          Comments
        </a>
      </h5>
    </div><!-- .entry-meta -->
  </header><!-- .entry-header -->

  <div class="entry-summary">
    <p>Hi there and welcome to our little blog. We figured it was about time that we added this facet into our digital presence, I mean, we’ve only been full-time RVing for two and a half years now! When we first started this traveling lifestyle, I was so engrossed in capturing it in photos and film – it’s what felt most intuitive to me and to be honest I’ve been a bit intimidated about the written part. But in the spirit of trying new things, especially things that push you outside your comfort zone, here we are.</p>


    <p class="read-more">
      <a class="btn btn-default" href="/2018/10/18/welcome-to-our-blog/">
        Read More<span class="screen-reader-text">Read More</span>
      </a>
    </p>
  </div><!-- .entry-summary -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->



          </main>
        </div>
        <div id="secondary" class="col-md-3 sidebar widget-area" role="complementary">
    <aside id="search-2" class="widget widget_search">
        <form role="search" method="get" class="search-form" action="/search">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input
                  type="search"
                  id="search-query"
                  class="search-field"
                  pattern="...*"
                  placeholder="Search …"
                  value=""
                  name="q"
                  title="At least 3 characters"
                  minlength=3
                  required>
            </label>
            <button type="submit" class="search-submit">
              <span class="screen-reader-text">Search</span>
            </button>
            <script type="text/javascript">
              window.JEKYLL_SEARCH_GLOBALS = {
                baseurl: "",
                site: { data: { authors: {"maggie":{"name":"Maggie"}} }},
              };
            </script>
        </form>
        <section id="search-sidebar-results" style="display: none;"> </section>
        
  <script id="search-sidebar-results-template" type="text/template">
    {% if results.length != 0 %}
      <h4 class="widget-title">Search Results</h4>
      <ul>
      {% for result in results %}
        {% assign page = store[result.ref] %}
        <li>
          <span class="screen-reader-text">
            {{ page.title }}
          </span>
          <a href="{{ page.url | prepend:baseurl }}" rel="bookmark">
            {{ page.title }}
          </a>
        </li>
      {% endfor %}
    {% else %}
      <p>Nothing found.</p>
    {% endif %}
  </script>


    </aside>
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h4 class="widget-title">Recent Posts</h4>
        <ul>
        
          <li>
            <a href="/arizona/free%20camping/2018/11/28/boondocking-at-craggy-wash-lake-havasu/">Boondocking at Craggy Wash: Lake Havasu</a>
          </li>
        
          <li>
            <a href="/arizona/free%20camping/2018/11/26/scottsdale-and-the-superstitions/">Scottsdale and the Superstitions</a>
          </li>
        
          <li>
            <a href="/rv%20renovations/2018/11/25/painting-our-rv-couch-with-chalk-paint/">Painting Our RV Couch with Chalk Paint</a>
          </li>
        
          <li>
            <a href="/free%20camping/arizona/favorite%20campsites/2018/11/20/boondocking-at-indian-bread-rocks/">Boondocking at Indian Bread Rocks</a>
          </li>
        
          <li>
            <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/">Beach Camping in New Mexico</a>
          </li>
        
    </aside>
    <aside id="archives-2" class="widget widget_archive">
        <h4 class="widget-title">Archives</h4>
        <ul>
          
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
              <li>
                <a href="/2018/11/">
                  November 2018 (6)
                </a>
              </li>
              
            
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
              <li>
                <a href="/2018/10/">
                  October 2018 (3)
                </a>
              </li>
              
            
          
        </ul>
    </aside>
    <aside id="categories-2" class="widget widget_categories">
      <h4 class="widget-title">Categories</h4>
      <ul>
        
        
        
        
          <li class="cat-item cat-item-1">
            <a href="/category/arizona/">
              Arizona
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/colorado/">
              Colorado
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/favorite-campsites/">
              Favorite Campsites
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/free-camping/">
              Free Camping
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/national-parks/">
              National Parks
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/new-mexico/">
              New Mexico
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/rv-renovations/">
              RV Renovations
            </a>
          </li>
        
      </ul>
    </aside>
</div>

      </div>
    </div>
  </div>

  
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    © 2018 <span class="sep"> | </span>
    Proudly Powered by <a href=" https://jekyllrb.com/">Jekyll</a>
    <span class="sep"> | </span>
    Theme: <a href="https://github.com/brad/jekyll-nisarg/" rel="designer">Nisarg</a>
  </div><!-- .site-info -->
</footer>


    <!-- Begin Javascript -->
<script type="text/javascript" src="/assets/dist/js/main.js"></script>
<!-- End Javascript -->

  </body>
</html>