<a name="respond"></a>
<div id="comments">
  <script
    data-isso="//{{ site.comment_host }}/"
    data-isso-id="{{ page.id }}"
    data-isso-reply-to-self="false"
    data-isso-require-author="true"
    data-isso-require-email="true"
    data-isso-max-comments-nested="3"
    data-isso-avatar="false"
    data-isso-gravatar="true"
    data-isso-feed="true"
    data-isso-vote="false"
    data-isso-reveal-on-click="5"
    data-isso-reply-notifications="true"
    data-isso-postbox-notification-text-en="Select to be notified of replies to your comment"
    data-main="/js/embed"
    src="//{{ site.comment_host }}/js/embed.min.js">
  </script>
  <section id="isso-thread" data-title="{{ page.title }}" data-isso-id="{{ page.id }}">
  </section>
</div>
