<div id="page" class="hfeed site">
  <header id="masthead" role="banner">
    <nav id="site-navigation" class="main-navigation navbar-fixed-top navbar-left" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container" id="navigation_menu">
        <div class="navbar-header">
          <button type="button" class="menu-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="menu-primary-menu" class="primary-menu nav-menu" aria-expanded="false">
            {% for menu_item in site.menu %}
            <li class="menu-item {% if page.url == menu_item.url %}current-menu-item{% endif %} menu-item-{{ menu_item.id }}">
              <a href="{{ menu_item.url | relative_url }}">{{ menu_item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!--#container-->
    </nav>
    <div id="cc_spacer"></div><!-- used to clear fixed navigation by the themes js -->
    {% if page.layout != 'post' %}
      <div id="header-carousel" class="carousel site-header slide" data-pause="" data-interval="3000" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for carousel_image in site.carousel_images %}
            <li data-target="#header-carousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
          {% endfor %}
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          {% for carousel_image in site.carousel_images %}
            <div class="item{% if forloop.first %} active{% endif %}">
              <img src="{{ '/images/headers/' | append:baseurl }}{{ carousel_image.file }}" alt="{{ carousel_image.alt }}">
            </div>
          {% endfor %}
        </div>
      </div><!--.site-header-->
    {% endif %}
  </header>
</div>
