<!DOCTYPE html>
<html lang="en">
  <head>
  <meta name="viewport" content="width=device-width" />
  <link rel="profile" href="http://gmpg.org/xfn/11" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lato:400,300italic,700|Source+Sans+Pro:400,400italic" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="/assets/dist/css/style.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78209422-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-78209422-2');
</script>


</head>

  <body>
      <div id="page" class="hfeed site">
  <header id="masthead" role="banner">
    <nav id="site-navigation" class="main-navigation navbar-fixed-top navbar-left" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container" id="navigation_menu">
        <div class="navbar-header">
          <button type="button" class="menu-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wanderland Travelers</a>
        </div><!-- .navbar-header -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul id="menu-primary-menu" class="primary-menu nav-menu" aria-expanded="false">
            
            <li class="menu-item  menu-item-home">
              <a href="/">Home</a>
            </li>
            
            <li class="menu-item  menu-item-say-thanks">
              <a href="https://ko-fi.com/wanderlandtravelers">Say Thanks</a>
            </li>
            
            <li class="menu-item current-menu-item menu-item-about-us">
              <a href="/about/">About Us</a>
            </li>
            
          </ul>
        </div>
      </div>
      <!--#container-->
    </nav>
    <div id="cc_spacer"></div><!-- used to clear fixed navigation by the themes js -->
    
  </header>
</div>


  <div id="content" class="site-content">
    <div class="container">
      <div class="row">
        <div id="primary" class="col-md-9 content-area">
          <main id="main" class="site-main" role="main">
            <article class="post-content full-content">
  
    <div class="featured-image">
      <img
        width="1024"
        height="576"
        src="/images/UsFloridaFamily.jpg"
        class="attachment-nisarg-full-width size-nisarg-full-width wp-post-image"
        alt="We are the <br> Wanderland Travelers">
    </div>
  
  <header class="entry-header">
    <span class="screen-reader-text">We are the <br> Wanderland Travelers</span>
    <h1 class="entry-title">
      We are the <br> Wanderland Travelers
    </h1>
    <div class="entry-meta"></div>
  </header><!-- .entry-header -->

  <div class="entry-content">
    <p>Hi! We’re Brad and Maggie and we’re just a couple of fun-loving adventure seekers who decided to start carving our own path. With Brad’s ability to work from the road as a software engineer, we realized that the only thing holding us back was ourselves! In the spring of 2016 we put our house on the market, sold or donated basically all our stuff, and a month later we were living onboard our motorhome, Starship Fenderprise (aka Fendy). Our life wouldn’t be complete without our amazing sidekicks Paco and Pepper – chihuahua/terrier rescues that are superb travel companions and snugglers. We’ll get them their own ‘About’ page soon!</p>

<p><img src="/images/COPnP.jpg" alt="Two Chihuahuas" /></p>

<p>Our rig is a 2003 Fleetwood Bounder class A motorhome. She’s 33’ long with two slides and honestly quite a bit more motorhome than we need. Were we to do it all over again, we’d go with 25’ or less but everyone’s needs are different! We recently upgraded our tow car to a manual 4x4 2010 Nissan Xterra and for recreation gear we have bikes, an inflatable kayak, and an inflatable stand up paddle board (SUP).  We are absolutely in love with the nomadic lifestyle and have no intentions of stopping anytime soon.</p>

<p><img src="/images/ORFendy.png" alt="RV parked by a bridge and ocean " /></p>

<p><strong>Our Roles:</strong></p>

<p>Brad handles all the outdoor aspects of the rig like filling gas, oil changes, dumping tanks, etc. He is our driver and drone pilot, he puts in a 40+ hour work week, and even tackles repairs and parts replacement on both vehicles. I handle the indoor aspects of rv life: meals, getting the rig ready to move, and I typically lead the charge on renovations. My main role, however, is creating content for our brand Wanderland Travelers! I make weekly videos for our YouTube channel, run our Instagram and Facebook accounts, and now this blog! We both do trip planning, with Brad mostly looking at routes, dump stations, and campsites while I research hikes, breweries and the things we shouldn’t miss in the area. We make a damn good team, if I do say so myself!</p>

<p><strong><em>Maggie here – a little bit more about me!</em></strong></p>

<p><img src="/images/MWSandsRun.jpg" alt="Woman at White Sands National Monument" /></p>

<p>My interests include photography, filming and video editing for our YouTube channel, hiking, kayaking, discovering new places to explore, and spending time with our super sweet pups. I love checking out thrift stores in the different locations we visit and I tend to keep a rotating closet of bargain threads. Some of my favorite things are waterfalls, New Mexico piñon coffee, and 80s music. I would put almost any meal on a ‘bed of greens’ (Nachos, yup. Lasagna, sure. Peanut sauce and raw veggies, oh god yes!) and I still have hope that someday I’ll get into a regular yoga routine. My favorite color is turquoise and I try to incorporate it into my life wherever I can, and it might surprise you to know that I hate going to the grocery store but I love putting groceries away – it means we are well-provisioned for the next adventure!</p>

<p>What has surprised me the most about this lifestyle:</p>
<ul>
  <li>The fact that our adventure list keeps growing instead of shrinking over time</li>
  <li>The ease with which we transitioned into tiny living</li>
  <li>Just how adaptable we can be to all the new situations we find ourselves in</li>
</ul>

<p>My travel philosophy: Get outside of cities and live in nature. Watch as many sunsets as possible. Tread lightly, respect nature, and go with the flow. Let yourself get giddy about rainbows, lightning, shooting stars and howling coyotes.</p>

<p>Favorite travel quotes:</p>
<ul>
  <li>‘I haven’t been everywhere, but it’s on my list’ ~Susan Sontag</li>
  <li>‘Of all the paths you take in life, make sure a few of them are dirt’ ~John Muir</li>
  <li>‘Travel is about the gorgeous feeling of teetering in the unknown’ ~Anthony Bourdain</li>
  <li>‘Because in the end, you won’t remember the time you spent working in the office or mowing your lawn. Climb that goddamn mountain’ ~Jack Kerouac</li>
</ul>

<p>You can read even more quirks and fun facts about me <a href="https://wanderlandtravelers.com/authors/maggie/">here</a></p>

<p><strong><em>Brad here – a little bit more about me!</em></strong></p>

<p><img src="/images/BFlyBoard.jpg" alt="Man on fly board watercraft" /></p>

<p>My interests include water sports, bike riding, hiking, juggling, unicycling, playing piano and accordion, and programming. My favorite way to explore a new location is by biking or walking around and if there’s a chance to go paddle boarding I’m going to take it. Fun facts about myself: I adore musicals, I don’t use windows or mac on my personal computer (I use Linux), I once built a 3D printer from scratch, and my hair was straight until I hit puberty. It might surprise you to know that I don’t play computer games. My favorite color is sunshine yellow and something that I really need everyday is physical activity. And, I hate nightmares but I love lucid dreaming!</p>

<p>What surprised me the most about this lifestyle: How much I feel at home despite being constantly on the move.</p>

<p>My travel philosophy: Always keep moving, but not too fast</p>

<p>People who inspire me:</p>
<ul>
  <li>Elon Musk, for his strength in adverse conditions. He sets his mind to things others think impossible, and just makes it happen</li>
  <li>My dad, for his constantly great attitude about life. I am always trying to be more like him</li>
</ul>

  </div><!-- .entry-content -->

  <footer class="entry-footer">
  </footer><!-- .entry-footer -->
</article><!-- #post-## -->

          </main>
        </div>
        <div id="secondary" class="col-md-3 sidebar widget-area" role="complementary">
    <aside id="search-2" class="widget widget_search">
        <form role="search" method="get" class="search-form" action="/search">
            <label>
                <span class="screen-reader-text">Search for:</span>
                <input
                  type="search"
                  id="search-query"
                  class="search-field"
                  pattern="...*"
                  placeholder="Search …"
                  value=""
                  name="q"
                  title="At least 3 characters"
                  minlength=3
                  required>
            </label>
            <button type="submit" class="search-submit">
              <span class="screen-reader-text">Search</span>
            </button>
            <script type="text/javascript">
              window.JEKYLL_SEARCH_GLOBALS = {
                baseurl: "",
                site: { data: { authors: {"maggie":{"name":"Maggie"}} }},
              };
            </script>
        </form>
        <section id="search-sidebar-results" style="display: none;"> </section>
        
  <script id="search-sidebar-results-template" type="text/template">
    {% if results.length != 0 %}
      <h4 class="widget-title">Search Results</h4>
      <ul>
      {% for result in results %}
        {% assign page = store[result.ref] %}
        <li>
          <span class="screen-reader-text">
            {{ page.title }}
          </span>
          <a href="{{ page.url | prepend:baseurl }}" rel="bookmark">
            {{ page.title }}
          </a>
        </li>
      {% endfor %}
    {% else %}
      <p>Nothing found.</p>
    {% endif %}
  </script>


    </aside>
    <aside id="recent-posts-2" class="widget widget_recent_entries">
        <h4 class="widget-title">Recent Posts</h4>
        <ul>
        
          <li>
            <a href="/free%20camping/2018/11/20/boondocking-at-indian-bread-rocks/">Boondocking at Indian Bread Rocks</a>
          </li>
        
          <li>
            <a href="/new%20mexico/2018/11/10/beach-camping-in-new-mexico/">Beach Camping in New Mexico</a>
          </li>
        
          <li>
            <a href="/2018/11/08/albuquerque-and-the-balloon-fiesta/">Albuquerque and the Balloon Fiesta</a>
          </li>
        
          <li>
            <a href="/colorado/national%20parks/2018/10/26/great-sand-dunes-national-park/">Great Sand Dunes National Park</a>
          </li>
        
          <li>
            <a href="/colorado/2018/10/20/colorado-springs-and-garden-of-the-gods/">Colorado Springs and Garden of the Gods</a>
          </li>
        
    </aside>
    <aside id="archives-2" class="widget widget_archive">
        <h4 class="widget-title">Archives</h4>
        <ul>
          
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
              <li>
                <a href="/2018/11/">
                  November 2018 (3)
                </a>
              </li>
              
            
          
            
            
            
            
          
            
            
            
            
          
            
            
            
            
              <li>
                <a href="/2018/10/">
                  October 2018 (3)
                </a>
              </li>
              
            
          
        </ul>
    </aside>
    <aside id="categories-2" class="widget widget_categories">
      <h4 class="widget-title">Categories</h4>
      <ul>
        
          <li class="cat-item cat-item-1">
            <a href="/category/colorado/">
              Colorado
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/national parks/">
              National Parks
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/new mexico/">
              New Mexico
            </a>
          </li>
        
          <li class="cat-item cat-item-1">
            <a href="/category/free camping/">
              Free Camping
            </a>
          </li>
        
      </ul>
    </aside>
</div>

      </div>
    </div>
  </div>

  
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    © 2018 <span class="sep"> | </span>
    Proudly Powered by <a href=" https://jekyllrb.com/">Jekyll</a>
    <span class="sep"> | </span>
    Theme: <a href="https://github.com/brad/jekyll-nisarg/" rel="designer">Nisarg</a>
  </div><!-- .site-info -->
</footer>


    <!-- Begin Javascript -->
<script type="text/javascript" src="/assets/dist/js/main.js"></script>
<!-- End Javascript -->

  </body>
</html>