$black: #101010;

body, button, input, select, textarea {
    font-size: 17px !important;
    font-weight: 300;
}

.site-header {
  background-color: #eceff1 !important;
  box-shadow: initial !important;
  min-height: initial !important;
  height: initial !important;
}

.main-navigation a.navbar-brand {
  font-family: Everlast;
  text-transform: none;
  letter-spacing: 3px;
  font-size: 22px !important;
  background-image: url(../../../images/logo.png);
  background-position: 0;
  background-size: 300px;
  background-repeat: no-repeat;
  color: transparent;
  width: 300px;

  &:hover {
    color: transparent;
  }
}

.home-link img {
    height: 200px;
    margin-bottom: 0;
    margin-top: -60px;
}

.entry-content, .entry-summary {
    color: $black;

    li img {
      position: relative;
      float: left;
      margin: 15px 0;
      left: -40px;
      max-width: calc(100% + 40px);
    }
}

.widget-social {
  a {
    margin-right: 5px;
    > i.fa {
      color: #424242;
      font-size: 32px;
    }

    svg {
      width: 28px;
      height: 28px;
      path {
        fill: #424242;
      }
    }

    > i.fa, svg {
      transition: transform .2s; /* Animation */
      &:hover {
        transform: scale(1.35);
      }
    }
  }
}

.widget_instagram {
  &::before {
    content: "Instagram";
    font-size: 18px;
    position: relative;
    font-weight: 400;
    margin-top: -24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 2em;
    padding: 1.5em 1.5em 0;
    text-transform: uppercase;
  }
  .instagram_gallery {
    &::before {
      background-color: #009688;
      content: "";
      position: relative;
      width: 50px;
      display: block;
      height: 4px;
      top: -18px;
    }

    padding-top: 25px;
  }
  img {
    transition: transform .2s; /* Animation */

    &:hover {
      transform: scale(1.35);
      border: solid 2px white;
    }
  }
}

figure {
  img.has-caption {
    margin-bottom: 0px;
  }
  figcaption {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.15px;
    background: lighten($black, 10%);
    padding: 10px;
    color: white;
    border-top: solid 1px white;
  }
}

figure + figure {
  padding-top: 5px;
}

.author-snippet-img, .author-snippet-content {
  float: left;
  position: relative;
  display: inline-block;
}

.author-snippet {
  background: white;
  margin-bottom: 2em;
  display: inline-block;
  padding: 1em 1.8em 1em;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  text-align: justify;

  div.author-snippet-img {
    margin-top: 0.5em;
    width: 20%;

    a {
      border-radius: 50%;
      display: block;
      overflow: hidden;
    }

    img {
      margin-bottom: 0;
      height: 100%;
      width: 100%;
    }
  }
  div.author-snippet-content {
    padding-left: 1.8em;
    width: 80%;
  }
}

#comments {
  background: #fff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 24px;
  margin-bottom: 2em;

  .avatar {
    margin-right: 5px;
    img {
      width: 100%;
    }
  }

  input[name="notification"] {
    margin-right: 5px !important;
  }
}

@media (max-width: 900px) {
  #comments input[name="notification"] {
    width: auto !important;
  }
}

@media (max-width: 640px) {
  #comments {
    .isso-postbox > .form-wrapper > .auth-section .input-wrapper {
      max-width: 100%;
      width: 100%;
      margin-bottom: 5px;
    }
    .avatar {
      width: 10%;
    }
  }
}

@media (max-width: 540px) {
  #comments {
    .isso-postbox > .form-wrapper > .auth-section .post-action {
      float: left;
      margin: 0 5px 3px 0;
    }
    .notification-section label {
      width: 100%;
    }
    .avatar {
      width: 12%;
    }
  }
}

@media (max-width: 450px) {
  .author-snippet {
    div.author-snippet-img {
      width: 50%;
      margin: 0 25%;
    }
    div.author-snippet-content {
      padding-left: 0;
      width: 100%;
    }
  }
  #comments {
    .isso-postbox {
      margin-bottom: 0.5em;
    }
    .avatar {
      width: 14%;
    }
  }
}

@media (max-width: 360px) {
  .main-navigation a.navbar-brand {
    background-size: 275px;
    font-size: 19px !important;
    width: 275px;
  }
}
