$black: #101010;

@font-face {
    font-family: Everlast;
    src: url("../../fonts/Everlast.otf") format("opentype");
}

body, button, input, select, textarea {
    font-size: 17px !important;
    font-weight: 300;
}

.main-navigation a.navbar-brand {
  font-family: Everlast;
  text-transform: none;
  letter-spacing: 3px;
  font-size: 30px !important;
}

.home-link img {
    height: 200px;
    margin-bottom: 0;
    margin-top: -60px;
}

.entry-content, .entry-summary {
    color: $black;
}

figure {
  img.has-caption {
    margin-bottom: 0px;
  }
  figcaption {
    margin-bottom: 15px;
    font-size: 14px;
    letter-spacing: 0.15px;
    background: lighten($black, 10%);
    padding: 10px;
    color: white;
    border-top: solid 1px white;
  }
}

figure + figure {
  padding-top: 5px;
}
